*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}
header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span{
    font-size: 1.2rem;
    color: #3D405B;
}
.hambuger{
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
}
.hambuger::before{
    content: "\2630";
}
.hambuger.show::before{
    content: "\00D7";
}

.navigation {
    display: none; /* cachée par défaut */
}

.navigation.show {
    display: block; /* affichée quand on clique */
    background-color: #f9f9f9; /* optionnel : fond clair */
    padding: 10px;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}